################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SP1Framework/Debug/SP1Framework.tlog
/.vs/SP1Framework/v15
/.vs/
/Debug
/Release
/SP1Framework/Release
/SP1Framework/Debug
*.user
*.db
.vs/SP1Framework/v14/.suo
SP1Framework.VC.VC.opendb
SP1Framework/level.txt
SP1Framework/.vs/SP1Framework/v15/ipch/AutoPCH/c5473b31ea13f4c3/ITEM.ipch
res/SaveData/saves.txt
res/SaveData/saves - Copy.txt
res/SaveData/options.txt
