################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SP1Framework/Debug/SP1Framework.tlog
/.vs/SP1Framework/v15
/Debug
/Release
/SP1Framework/Release
/SP1Framework/Debug
*.user
*.db
.vs/SP1Framework/v14/.suo
SP1Framework.VC.VC.opendb
