################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SP1Framework/Debug/SP1Framework.tlog
